<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p> Hi! 
			<%= @user %> sent you some feedback...Here it comes! </p>
			<p> <%= @feedback %> <br/></p>
	</body>
</html>
