<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to ConnectionBoard</p>
    <p>
      You have successfully signed up to the beta of Connectionboard, brought to you by FENA.
      <!-- your username is: <%= @account.username %>.<br/> -->
      We will contact you when it's time for the release.
    </p>
    <p>Thanks for joining the beta and have a great day!</p>
  </body>
</html>